<button mat-raised-button color="primary" (click)="addCase()">Add Case</button>
<table mat-table [dataSource]="cases">
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef> Policy Number </th>
    <td mat-cell *matCellDef="let case" (click)="editCase(case.id)"> {{ case.number }} </td>
  </ng-container>

  <ng-container matColumnDef="holder">
    <th mat-header-cell *matHeaderCellDef> Policy Holder </th>
    <td mat-cell *matCellDef="let case" (click)="editCase(case.id)"> {{ getHolderInfo(case) }} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let case" (click)="editCase(case.id)"> {{ case.date | date: 'MM/dd/yyyy' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="damageAmount">
    <th mat-header-cell *matHeaderCellDef> Damage Amount </th>
    <td mat-cell *matCellDef="let case" (click)="editCase(case.id)"> {{ getCaseDamage(case) | currency }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>